<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Keywords" type="System.Configuration.NameValueSectionHandler" />
    <section name="Hashtags" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key = "ConsumerKey1" value = "lVVcDevyLOZcL2dqy4lL0g"/>
    <add key = "ConsumerSecret1" value = "WZJxCCR2SY87SAVEJqBGBE7I5JOdGUYSlywTxMQdo"/>
    <add key = "AccessToken1" value = "1557566924-AD2Ml2VViqHy08KVlaoW9f11hXqz5deo4aRGW43"/>
    <add key = "AccessTokenSecret1" value = "O5i0NEO3EGG88r4dkbBjsh7gaCrFN7OCHsup9Ygb5XPlT"/>
    <add key = "NumberOfTweetsToGet" value = "100"/>
    <add key = "DBName" value = "LeaksTweets"/>
    <add key = "DBNamePath" value = "c:\"/>
    <add key = "SQLServerName" value = "TOKASHYO-PC"/>
  </appSettings>
  
  <Keywords>
    <add key="1" value="leak"/>
    <add key="2" value="Madeleine"/>
    <add key="3" value="Mcann"/>
    <add key="4" value="Madeleinemccann"/>
    <add key="5" value="rumor"/>
    <add key="6" value="bilgates"/>
    <add key="7" value="Finance"/>
    <add key="8" value="stock market"/>
    <add key="9" value="crash stock market"/>
    <add key="10" value="stock leak"/>
    <add key="11" value="gossip"/>
    <add key="12" value="Syria"/>
    <add key="13" value="bomb"/>
    <add key="14" value="protest"/>
    <add key="15" value="Tahrir"/>
    <add key="16" value="Ukraine"/>
    <add key="17" value="Gezi"/>
    <add key="18" value="Kiev"/>
    <add key="19" value="Earthquake"/>
    <add key="20" value="fire"/>
  </Keywords>

  <Hashtags>
    <add key="1" value="security"/>
    <add key="2" value="dataleakage"/>
    <add key="3" value="insideinformation"/>
    <add key="4" value="SyriaFiles"/>
    <add key="5" value="WikiLeaks"/>
    <add key="6" value="Madeleine"/>
    <add key="7" value="Mcann"/>
    <add key="8" value="Madeleinemccann"/>
    <add key="9" value="rumor"/>
    <add key="10" value="bilgates"/>
    <add key="11" value="Finance"/>
    <add key="12" value="stockmarket"/>
    <add key="13" value="crashstockmarket"/>
    <add key="14" value="stockleak"/>
    <add key="15" value="gossip"/>
    <add key="16" value="Syria"/>
    <add key="17" value="bomb"/>
    <add key="18" value="protest"/>
    <add key="19" value="Tahrir"/>
    <add key="20" value="Ukraine"/>
    <add key="21" value="Gezi"/>
    <add key="22" value="Kiev"/>
    <add key="23" value="Earthquake"/>
    <add key="24" value="fire"/>
  </Hashtags>
</configuration>