<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Keywords" type="System.Configuration.NameValueSectionHandler" />
    <section name="Hashtags" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key = "ConsumerKey1" value = "lVVcDevyLOZcL2dqy4lL0g"/>
    <add key = "ConsumerSecret1" value = "WZJxCCR2SY87SAVEJqBGBE7I5JOdGUYSlywTxMQdo"/>
    <add key = "AccessToken1" value = "1557566924-AD2Ml2VViqHy08KVlaoW9f11hXqz5deo4aRGW43"/>
    <add key = "AccessTokenSecret1" value = "O5i0NEO3EGG88r4dkbBjsh7gaCrFN7OCHsup9Ygb5XPlT"/>
    <add key = "NumberOfTweetsToGet" value = "100"/>
    <add key = "DBName" value = "LeaksTweets"/>
    <add key = "DBNamePath" value = "c:\"/>
    <add key = "SQLServerName" value = "TOKASHYO-PC"/>
  </appSettings>
  
  <Keywords>
    <add key="1" value="leak"/>
  </Keywords>

  <Hashtags>
    <add key="1" value="security"/>
    <add key="2" value="dataleakage"/>
    <add key="3" value="insideinformation"/>
    <add key="4" value="SyriaFiles"/>
    <add key="5" value="WikiLeaks"/>
  </Hashtags>
</configuration>